<nav class="bg-gray-900 bg-opacity-80 backdrop-blur-lg text-white px-6 py-4 shadow-lg fixed w-full z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-2xl font-bold tracking-wide" routerLink="/products">Gerenciador de Produtos</a>

    <!-- Menu Desktop -->
    <div class="hidden md:flex space-x-6">
      <a *ngIf="isLoggedIn" class="hover:text-gray-300 transition" routerLink="/create-product">Create Product</a>
      <a *ngIf="!isLoggedIn" class="hover:text-gray-300 transition" routerLink="/login">Login</a>
      <a *ngIf="!isLoggedIn" class="hover:text-gray-300 transition" routerLink="/register">Registrar</a>

      <div *ngIf="isLoggedIn" class="flex items-center space-x-3">
        <span class="text-gray-300">Olá, {{ userName }}</span>
        <a (click)="logout()" class="hover:text-red-400 transition cursor-pointer">Logout</a>
      </div>
    </div>

    <!-- Botão de Menu Mobile -->
    <button (click)="toggleMenu()" class="md:hidden focus:outline-none cursor-pointer">
      <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Menu Mobile -->
  <div *ngIf="menuOpen" class="md:hidden mt-4 flex flex-col items-center space-y-4 bg-gray-900 bg-opacity-90 backdrop-blur-lg p-4 rounded-lg shadow-md">
    <a class="hover:text-gray-300 transition" routerLink="/create-product">Create Product</a>
    <a *ngIf="!isLoggedIn" class="hover:text-gray-300 transition" routerLink="/login">Login</a>
    <a *ngIf="!isLoggedIn" class="hover:text-gray-300 transition" routerLink="/register">Registrar</a>

    <div *ngIf="isLoggedIn" class="flex flex-col items-center space-y-2">
      <span class="text-gray-300">Olá, {{ userName }}</span>
      <a (click)="logout()" class="hover:text-red-400 transition cursor-pointer">Logout</a>
    </div>
  </div>
</nav>

<div class="min-h-screen">
  <router-outlet />
</div>
